<% provide(:title, 'All users') %>
<h1>All users</h1>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 50 %>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul><% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

  <%= render partial: 'shared/form_edit_and_new', :locals => {user: @user, button_name: "Edit my account"} %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails">change</a>
    </div>
  </div>
</div>
